<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.demo.realita" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="Realita Demo"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.demo.realita.ListViewActivity"
            android:label="Realita Demo" >
            <intent-filter>
                    <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.demo.realita.HouseInfoActivity"
            android:label="Realita Demo"
            android:parentActivityName="com.demo.realita.ListViewActivity">
            <!-- The meta-data element is needed for versions lower than 4.1 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.demo.realita.ListViewActivity" />
        </activity>

        <activity android:name=".FilterActivity"
            android:label="@string/app_name"
            android:parentActivityName=".ListViewActivity"
            android:windowSoftInputMode="stateUnchanged">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ListViewActivity" />
        </activity>

        <activity android:name=".DescriptionActivity"
            android:label="@string/app_name"
            android:parentActivityName=".HouseInfoActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HouseInfoActivity"/>
        </activity>

        <activity android:name=".ImageGalleryActivity"
            android:label="@string/app_name"
            android:parentActivityName=".HouseInfoActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HouseInfoActivity"/>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyADYd0Jn7KEJI2mTMjDe1UAcrsQS1gbkII"
            />
    </application>

</manifest>
